<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alberapps.examenavesalc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenAvesALC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.PajaroActivity"
            android:exported="false" />
        <activity
            android:name=".view.RecursosActivity"
            android:exported="false" />
        <activity
            android:name=".view.ZonaDetailActivityActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailZona"
            android:exported="false"
            android:label="@string/title_activity_detail_zona"
            android:theme="@style/Theme.ExamenAvesALC.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExamenAvesALC.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>